.container {
    display: flex;
	flex-direction: column;
}

body {
	background: #eeeeee;
	margin: 0px;
	padding: 0px;
}

.row {
	display: flex;
	justify-content: center;
}

.col {
	display: flex;
	flex-direction: column;
}

.content {
	min-height: calc(100vh - 256px);
}

.header {
	width: 80vw;
	background: #222831;
	display: flex;
	justify-content: space-between;
}

.menu {
	background: #636363;
	font-size: 1.2em;
	color: #eeeeee;
	width: 80vw;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.menu-main {
	display: flex;
}

.tab a {
	padding: 10px 30px 10px 30px;
	user-select: none;
	color: #eeeeee;
}

a {
	color: inherit;
	text-decoration: none;
}


.bump {
	margin-left: auto;
}

.menu-main li:hover {
	background:  #222831;
	cursor: pointer;
	color: #ffffff;
}

.sale {
	width: 70vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

ul, li {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.header img {
	margin-left: 50px;
	height: 150px;
	width: auto;
}

.actions {
	padding: 50px;
	display: flex;
	flex-direction: column;
}

.actions button {
	margin-top: 10px;
}

.promo-text {
	width: 40vw;
}

.promo {
	width: 40vw;
}

.content {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.footer {
	width: 80vw;
	background: #222831;
	color: white;
	text-align: center;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tile {
	height: 90px;
	width: 19.5vw;
	background: #3d4b60;
}

.welcome {
	padding: 20px;
	color: #eeeeee;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.s-10 {
	width: 10vw;
}

.s-70 {
	width: 70vw;
}

.product {
	height: 300px;
	width: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.product img {
	height: 200px;
	display:block;
    margin:auto;
}

.product-image {
	width: 200px;
}

.product div {
	align-self: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.products {
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.side-menu {
	background: #636363;
	padding: 10px;
	color: #eeeeee;
}

.category {
	padding: 5px;
}

input[type="submit"] {
	background: black;
	color: white;

	padding: 5px;
	font-size: 1.2em;
}

button {
	background: black;
	color: white;
	padding: 5px;
	font-size: 1.2em;
}

/* 

body {
	background: #eeeeee;
    margin: 0px;
	padding: 0px;
	display: block;
}




.main {
	margin: 10;
	background: #eeeeee;
	flex-direction: column;
	width: 80vw;
	height: 100vw;
	border: #222831 solid 5px;
	border-radius: 5px;
}

.header {
	width: 80vw;
	display: flex;
	justify-content: space-between;
	background: #222831;
	color: whitesmoke;
	font: impact;
	font-size: 5vw;
	font-weight: bold;
}
.band{
	top: 0;
	height: 200px;
	width: 100vw;
	width: 100%;
	justify-content: center;
	display: flex;
	background: #222831;
	color: whitesmoke;
	font: impact;
	text-align: left;
}
.promo{
	padding: 0;
	width: 100%;
	height: 50;
	display: flex;
	background: #222831;
	color: whitesmoke;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 1.5vw;
	text-align: left;
}
.actions {
	padding: 50px;
	display: flex;
	flex-direction: column;
}

#header{
	height: 200px;
	width: auto;
}

.login {
	background: #00adb5;
	height: 1.5vw;
	width: 4vw;
	float: right;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 0.75vw;
	border-radius: 2px;
	justify-content: right;
	color: whitesmoke;
	margin-top: 10;
}

.promoimg{
	border: #222831 solid 5px;
	width: 30%;
	height: auto;
	border-radius: 5px;
	margin: 10px;
} */