body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.footer {
    background: black;
    color: white;
}

.jumbo {
    display: flex;
    display: column;
}
