
body {
    background: white;
}


.element {
    width: calc(100% / 19);
    height: 0;
    padding-bottom: calc(100% / 19);
    border: 1px solid black;
    margin: 0.06%;
    position: relative;
    flex: 1 0 calc(100vw / 19.82);
}

@media only screen and (min-width: 2048px) {
    .element {
        flex: 1 0 calc(100vw / 19); /* explanation below */
    }
}

@media only screen and (max-width: 600px) {
    .element {
        flex: 1 0 calc(100vw / 20); /* explanation below */
    }
}

.number {
    font-size: 0.7vmax;
    text-align: right;
    padding-right: 5%;
    position: absolute;
    top: 3%;
    right: 3%;
}

.symbol {
    font-size: 2.5vmax;
    line-height: 4.3vmax;
    text-align: center;
}

.filler {
    text-align: center;
    font-size: 0.9vmax;
    line-height: 5vmax;
}

.weight {
    font-size: 0.7vmax;
    padding-left: 5%;
    position: absolute;
    bottom: 3%;
    left: 3%;
}

#tbl {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;  
}

body {
    margin: 0px;
    padding: 0px;
}

.blank {
    border: 1px solid white;
}

.nonmetal {
    background: lightgreen;
}

.gas {
    background: lightblue;
}

.lanthanide {
    background: pink;
}

.fiftyseven {
    background: pink;
}

.eightynine {
    background: linear-gradient(to right, orange 80%, pink 20%)
}

.hundredthree, .actinide {
    background: orange;
}

.meneer {
    background-image: url("https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE5NTU2MzE2MzEzMDYwODc1/dmitri-mendeleyev-9405465-2-402.jpg");
    background-size: contain;
}


.alkali {
    background: mediumpurple;
}

.alkaline {
    background: silver;
}

.transition {
    background: skyblue;
}

.metalloid {
    background: mediumseagreen;
}

.post-transition {
    background: steelblue;
}
